*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}
header {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 50px;
  position: fixed;
  z-index: 2000;
  background-color: #fff;
  top: 0;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

.logo {
 
  color: #06120a;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-weight: 800;
}
.logo img{
  height: 32px;
  width: 50px;
}

nav {
  display: flex;
  gap: 48px;
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.icon{
  display: flex;
  gap: 20px;
 
}
.icon a{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1rem;
}
.mobile-toggle {
  display: none;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #000;
}
.hero{
  position: relative;
  /* top: 100px; */
}
.hero img{
  position: block;
  width: 100%;
  height:816.83px;
}
.cotain-text{
  position: absolute;
  width: 643px;
  height: 443px;
  top: 253px;
  left: 790px;
  transform: translate(-50% -50%);
  border: 0 none none;
  color: #333333;
  background-color: bisque;
  padding: 25px 25px;

}

.accent{
  display: block;
  color: #B88E2F;
  font-family: Poppins;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 0px;

}
.btn{
  background: #B88E2F;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 1px;
  text-decoration: none;
  border: none;
  font-weight: 700;
  width: 222px;
height: 74px;
opacity: 1px;

}
.sub-hero{
width: 100%;
height: 100vh;
display: grid;
grid-template-areas: "card-text" "card";
grid-template-columns: repeat(1fr);
padding: 30px;
}
.card{
 
  display: grid;
  grid-template-areas: "din live bed";
  margin-left: 80px;
  margin-right: 60px;
  gap: 5px;
}
.card p{
  text-align: center;
}
.sub-hero h1{
  display: block;
  text-align: center;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
.card-text p{
  display: block;
  text-align: center;
  margin-top: 15px;
}
.product-container{
  display: grid;
  width: 100%;
  /* height: 100vh; */
  /* margin:50px ; */
  grid-template-areas: "p-text" "p-card" "p-btn";
  grid-template-columns: repeat(1fr);
}
.p-text h1{
  text-align: center;
  margin-bottom: 25px;
  font-weight: 800;
  font-style: bold;
  font-size: 2rem;

}
.p-card {
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  margin-left: 80px;
  margin-right: 60px;
  grid-template-columns: repeat( 4 1fr);
  grid-template-rows: repeat( 2 1fr);
  grid-template-areas: "pro1 pro2 pro3 pro4"
                       "pro5 pro6 pro7 pro8";
  object-fit: contain;                     

}
.pro1{
width: 200px;
height: 200px;
object-fit: contain;
}
.pro1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pro2{
width: 200px;
height: 200px;
object-fit: contain;
}
.pro2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pro3{
width: 200px;
height: 200px;
object-fit: contain;
}
.pro3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pro4{
width: 200px;
height: 200px;
object-fit: contain;
}
.pro4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pro5{
width: 200px;
height: 200px;
object-fit: contain;
}
.pro5 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pro6{
width: 200px;
height: 200px;
object-fit: contain;
}
.pro6 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pro7{
width: 200px;
height: 200px;
object-fit: contain;
}
.pro7 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pro8{
width: 200px;
height: 200px;
object-fit: contain;
}
.pro8 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
